
.attribution {
    font-size: 11px;
     text-align: center;
     color: hsl(228, 45%, 44%);
    }
.attribution a {
        
    }

body {
    background-color: hsl(0, 0%, 100%);
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 60px;
}

.main {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 26px;
}
    
.test1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 6;
}

.test2 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 7;
}

.test3 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 8;
}

.heading {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    color:hsl(300, 43%, 22%)
    
}

.review1 {
    grid-column: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 2;
    background-color: hsl(303, 10%, 53%);
}

.review2 {
    grid-column: span 3 / span 3;
    grid-column-start: 9;
    grid-row-start: 4;
    background-color: hsl(303, 10%, 53%);
}

.review3 {
    grid-column: span 3 / span 3;
    grid-column-start: 8;
    grid-row-start: 3;
    background-color: hsl(303, 10%, 53%);
}

.subheading {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 4;
}